*{
	margin: 0;
	padding: 0;
}
body {
  background:black;
}
#navbar ul{
  list-style:none;
  }

.parent2 {
  top:15px;
  left:15px;
  position:fixed;
  display:block;
  width:100px;
  height:100px;
  background-color:transparent;
  z-index:20;
}

.test1 {
  width:60%;
  height:60%;
  background-color:#CACDCC;
  border-radius:50%;
  position:absolute;
  color:white;
  text-align:center;
  line-height:70px;
    top:25%;
  left:25%;
  z-index:19;
  transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
    position:absolute;
}
.test2 {
  width:60%;
  height:60%;
  background-color:#CACDCC;
  border-radius:50%;
  position:absolute;
  color:white;
  text-align:center;
  line-height:70px;
    top:25%;
  left:25%;
  z-index:19;
  transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550) .2s;
}
.test3 {
  width:60%;
  height:60%;
  background-color:#CACDCC;
  border-radius:50%;
  position:absolute;
  color:white;
  text-align:center;
  line-height:70px;
    top:25%;
  left:25%;
  transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550) .4s;  
}
  .test4 {
  width:60%;
  height:60%;
  background-color:#CACDCC;
  border-radius:50%;
  position:absolute;
  color:white;
  text-align:center;
  line-height:70px;
  top:25%;
  left:25%;
  transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550) .6s;  
}
.mask2 {
  top:15px;
  left:15px;
  width:100px;
  height:90px;
  background:black;
  position:absolute;
  z-index:21; 
  border-radius:50%;
  color:white;
  text-align:center;
  line-height:120px;
  cursor:pointer;
  position:fixed;
}

.centerImageHeader{
	justify-content: center; 
    display: grid;
}

h1 {
color: #527e8e;
font-size: 40px;
text-align: center;
}
h2 {
  color:#527e8E;
  font-size: 20px;
  text-align: center;
  }

.card-img-top{
  width: 150px;
  height: 150px;
}
a {
  color: white;
}
section{
  height: 100vh;
  width: 100%;
  padding: 5% 0;
  text-align: center;
  box-shadow: 0px 9px 5px 0px rgba(189,183,189,1);
}
section#aboutMe{
    padding: 10% 0;

}
.foto{
 margin-top: 5%;
  width: 65%;
  height: 360px;
  border-radius: 40%;
  box-shadow: inset 0px 0px 55px 13px rgba(33,30,30,0.8);
}
.parrafo {
  display: inline-block;
  padding: 10% ;
  color: #CACDCC;
  font-size: 1.4em;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
}
section#skills i{
  font-size: 550%; 
  color: white;
}
/*Contacto*/
section#contact{  
  height: auto;
  padding: 5% 0;
 
}
section#contact p{
  font-size: 1.8em;
    font-family: raleway;
    text-align: center;
    color: white;
}

section#contact a:hover{
  text-decoration: none;
  color: white;
}

.redes-sociales{
  width: 80%;
  margin: 0 auto;
  text-align: center;
  font-size: 3em;
}

.redes-sociales a i{
    color: white;
    padding: 2%;
}
/*----*/

section#projects{
  box-shadow: 0px 9px 5px 0px rgba(189,183,189,1);
  height: auto;
  padding: 5% 0;
}

.projects{
    padding: 1% 0 0 2%;
}

.snip1446 {
  font-family: 'Source Sans Pro', Arial, sans-serif;
  position: relative;
  float: left;
  overflow: hidden;
  margin: 10px 1%;
  min-width: 230px;
  height: 198px;
  max-width: 315px;
  max-height: 230px;
  width: 100%;
  color: #ffffff;
  text-align: center;
  font-size: 16px;
}
.snip1446 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.snip1446 img {
  opacity: 1;
  width: 100%;
  height: 100%;
}
.snip1446:after,
.snip1446:before,
.snip1446 figcaption:after,
.snip1446 figcaption:before {
  background: #0a0a0a;
  width: 25%;
  position: absolute;
  content: '';
  opacity: 0;
  -webkit-transition: all 0.3s steps(4);
  transition: all 0.3s steps(4);
  z-index: 1;
  top: 100%;
  bottom: 0;
}
.snip1446:before {
  left: 0;
  -webkit-transition-delay: 0;
  transition-delay: 0;
}
.snip1446:after {
  left: 25%;
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}
.snip1446 figcaption:before {
  left: 50%;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
  z-index: -1;
}
.snip1446 figcaption:after {
  left: 75%;
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
  z-index: -1;
}
.snip1446 figcaption {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  padding: 30px;
}
.snip1446 h2,
.snip1446 p,
.snip1446 .icons {
  margin: 0;
  width: 100%;
  opacity: 0;
}
.snip1446 h2, .contenedor-portafolio .info h2 {
  text-transform: uppercase;
  font-family: 'Raleway'
}
.snip1446 p, .contenedor-portafolio .info p {
  font-weight: 300;
}
.snip1446 .icons {
  position: absolute;
  bottom: 30px;
  left: 0;
  width: 100%;
}
.snip1446 i {
    padding: 0px 5px;
    display: inline-block;
    color: #ffffff;
}
.snip1446 i:hover {
  opacity: 1;
}
.snip1446:hover:after,
.snip1446.hover:after,
.snip1446:hover:before,
.snip1446.hover:before,
.snip1446:hover figcaption:after,
.snip1446.hover figcaption:after,
.snip1446:hover figcaption:before,
.snip1446.hover figcaption:before {
  top: 0;
  opacity: 0.8;
}
.snip1446:hover figcaption h2,
.snip1446.hover figcaption h2,
.snip1446:hover figcaption p,
.snip1446.hover figcaption p,
.snip1446:hover figcaption .icons,
.snip1446.hover figcaption .icons {
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.4s;
}
.snip1446:hover figcaption h2,
.snip1446.hover figcaption h2,
.snip1446:hover figcaption .icons,
.snip1446.hover figcaption .icons {
  opacity: 1;
}
.snip1446:hover figcaption p,
.snip1446.hover figcaption p {
  opacity: 0.7;
}

.snip1446 figcaption a, .contenedor-portafolio .info .icons a {
    padding: 3% 2%;
    background-color: #527e8e;
    border-radius: 5px;
    color: white;
    text-decoration: none;
}

.snip1446 figcaption a:hover{
  text-decoration: none;
  color: white;
}

.contenedor-portafolio{
  text-align: center;
  box-shadow: 0px 9px 5px 0px rgba(189,183,189,1);
  margin: 5% 0;
  height: auto;
  padding: 5%;
}

.contenedor-portafolio img{
  width: 90%;
  margin: 0 auto;
}

@media (max-width: 600px) {

  .foto{
      width: 60%;
      height: 90%;
    }

  section#skills i {
    font-size: 400%;
    color: white;
    }
  
  .parrafo {
      font-size: 100%;
    }
  
    section#your-element-selector2 h1{
    padding: 20%;
  }
}

      
  
  
